#container {
    padding: 50px;
    display: flex;
    gap: 50px;
}

h1 {
    color: rgb(98, 255, 98);
}

p {
    color: rgb(98, 255, 98);
}

#aboutPic {
    box-shadow: 0px 0px 100px purple;
    width: 800px;
}