.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#cardImg {
    height: 22rem;
    width: 100%;
}

.card {
    margin-bottom: 3rem;
    width: 18rem;
    height: auto;
    background-color: black;
}